.project_seach_form {
  background: #fff;
  padding: 30px;
  margin: 30px 0;
  box-shadow: 0 2px 2px #ddd;
  border-radius: 5px;
}

.btn-dropdown {
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #AEAFAE;
  padding: 0 5px;
}